@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Raleway:400,200,100,300,500,600,700,800,900");
html {
    scroll-behavior: smooth;
}

reference couleurs {
    color: #FFFFFF #27242b #3d9f96 #322f36 #f7f7f7 #f9f9f9 #ababab #7e7e7e #27242b;
}

* {
    margin: 0;
    padding: 0;
}


/* *************GENERAUX****************** */

body {
    font-family: "Raleway", Arial, sans-serif;
    color: #7e7e7e;
}

h4 {
    color: #27242b;
}

.thin {
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.black {
    color: #27242b;
}

.open-sans {
    font-family: "Open Sans", Arial, sans-serif;
}

.helvetica {
    font-family: Helvetica, Arial, sans-serif, 'Raleway';
}


/* *********************************HEADER************************* */

header,
.navbar {
    background: url(../img/header_bg.jpg);
    color: #7e7e7e;
}

.navbar {
    border-bottom: #7e7e7e 1px solid;
    height: 10vh;
}

.navbar a {
    color: #FFFFFF;
}

.nav-item {
    padding: 0 20%;
    font-weight: 700;
}

.navbar-brand img {
    width: 25%;
}

.navbar-right {
    width: 25%;
    font-weight: 800;
}

.navbar-right a {
    text-decoration: underline;
    color: #3d9f96;
}

.subtitle {
    color: #3d9f96;
}

.btn-success {
    background-color: #3d9f96;
    border-radius: 50px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 2% 7%;
}

.btn-success:hover {
    color: #fff;
    background-color: rgba(61, 159, 150, 0.9);
    border-color: none;
}

.macbook {
    width: inherit;
}


/* ******************************SOCIAL SECTION***************************** */

.social-section {
    background-color: #f7f7f7;
}

.social-link {
    padding: 0 2%;
    width: 8%;
}

.social-title {
    color: #3d9f96;
    font-weight: 700;
}


/* ******************************CHECK OUR NEW APP***************************** */

.check-app {
    font-size: 1.2em;
}


/* ******************************AWESOMENESS 3 COLUMNS***************************** */

.awesome-bg {
    background: url(../img/map_bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: fit-content;
}

.awesome-bg h4 {
    font-weight: 700;
}

.awesome-bg p {
    font-size: 125%;
    font-weight: 400;
}


/* ******************************AVATAR AND CITATION***************************** */

.citation {
    background: url(../img/seperator1-.jpg);
    background-position: center;
    background-size: cover;
    height: fit-content;
}

.citation cite {
    color: #fff;
    font-style: normal;
}


/* ******************************SCREENSHOTS***************************** */

.screenshot {
    background: #f7f7f7;
}


/* ******************************TESTED RESPONSIVE***************************** */


/* ******************************FOOTER***************************** */

.footer {
    font-weight: 400;
}

.footer-top {
    background: #f7f7f7;
    line-height: 2em;
}

.info,
.contact {
    padding: 3% 5%;
}

.logo-footer {
    width: 100%;
    padding-bottom: 3%;
}

h6 {
    padding-bottom: 15px;
    font-size: 1.5em;
}

.info a,
ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    color: #7e7e7e;
}


/* **********************************FOOTER BOTTOM**************************** */

.footer-bottom {
    background: #FFFFFF;
}

.footer-icons a {
    padding: 0 2%;
}

.footer-icons img {
    width: 5%;
}